@() <!DOCTYPE html>
<html>
    <head>
        <title data-ng-bind="pageTitle"></title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))" />
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))" ></script>
        @*-- Add More CSS here -- *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        @*-- Header -- *@
        <header class="navbar navbar-inverse" >
            <div class="container" >
                <a href="#" class="navbar-brand">Modelling Structured Product Cashflows</a>
            </div>
        </header>
        @* -- Main Content -- *@
        <script>

        angular.module ( 'msfcf', [ ] ).controller ( 'fixedRateMortgage', [ '$scope', '$http', function ( $scope, $http ) {
            $scope.amortize = function ( ) {
                var data =  {
                "originalBalance" : parseFloat($scope.origBalance),
                "originalTerm" :parseInt($scope.origTerm),
                "rate" :parseFloat($scope.rate),
                "origDate" :$scope.origDate,
                "firstPayDate" :$scope.firstPayDate
                } ;
                var httpPromise = $http.post ( "/frm-amortize", JSON.stringify(data) ) ;
                httpPromise.success ( function ( data, status, headers, config ) {
                    alert ( "AJAX worked!"+data ) ;
                } ) ;
                httpPromise.error ( function ( data, status, headers, config ) {
                    alert ( "AJAX failed!" ) ;
                } ) ;
            } ;
        } ] ) ;
        </script>
        <div class="container" ng-app="msfcf" ng-controller="fixedRateMortgage">
            <div class="row">
                <h3>Fixed Rate Amortizing Mortgage</h3>
                <form class="form-horizontal">
                <div >
                    <div class="form-group">
                        <label for="origBalance" class="col-sm-2 control-label">Original Balance:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="origBalance" id="origBalance">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="origTerm" class="col-sm-2 control-label">Original Term (months):</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" ng-model="origTerm" id="origTerm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rate" class="col-sm-2 control-label">Rate:</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control"  ng-model="rate" id="rate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="origDate" class="col-sm-2 control-label">Origination Date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="origDate" id="origDate" placeholder="mm-dd-yyyy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstPayDate" class="col-sm-2 control-label">First Pay Date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="firstPayDate" id="firstPayDate" placeholder="mm-dd-yyyy" >
                        </div>
                    </div>
                    <button class="btn btn-primary col-sm-offset-1 col-sm-2" ng-click="amortize();">Amortize</button>
                 </div>

                </form>
                    <p ng-bind="origBalance"></p>
            </div>
        </div>
    </body>
</html>